"*":
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Monoid HalfTight"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  "editor-background":
    box3d:
      shadowOpacity: 9
    image:
      backgroundSize: "cover"
      overlayColor:
        alpha: 1
        blue: 0
        green: 0
        red: 0
      url: "/Users/martingondermann/Dropbox/Photos/Wallpapers/used/lambdaphonic.png"
    other:
      transparentTabBar: false
    text: {}
    video: {}
  "exception-reporting":
    userId: "66461ea4-5e85-4667-e2da-532acef273d3"
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
    hideHighlightOnSelect: true
    underline: "dashed"
  "ionide-fsharp":
    MonoPath: "/Library/Frameworks/Mono.framework/Commands"
  "ionide-fsi":
    FsiPath: "/usr/local/bin/fsharpi"
  "ionide-paket":
    MonoPath: "/Library/Frameworks/Mono.framework/Commands"
  "markdown-preview": {}
  metrics:
    userId: "20fa5d99bb75476dd76108ff5fd38d173499a0e3"
  minimap:
    plugins:
      bookmarks: true
      "find-and-replace": true
      "minimap-autohide": false
      selection: true
  "release-notes":
    viewedVersion: "0.84.0"
  welcome:
    showOnStartup: false
".fsharp.fsi.source":
  editor:
    preferredLineLength: 120
".fsharp.fsl.source":
  editor:
    preferredLineLength: 120
".fsharp.fsx.source":
  editor:
    preferredLineLength: 120
".fsharp.source":
  editor:
    preferredLineLength: 120
".paket.source":
  editor:
    preferredLineLength: 120
